@tailwind base;
@tailwind components;
@tailwind utilities;

.card-container {
    perspective: 9000px;
  }
  
  .card {
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .card:hover {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
  }
  
  .front {
    z-index: 2;
  }
  
  .back {
    transform: rotateY(180deg);
  }
  